# Python
*.pyc
__pycache__/
tests

# Virtual environments
.venv/
venv

# Logs
*.log

# Docker
*.pid
docker-compose.override.yml

# Secrets
**/secrets/*.json
**/config/*.json
ssl-certs/*

# System files
.DS_Store
.env